<head>
    <meta charset="UTF-8">
    <meta name="viewport" contect="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/256321248c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <footer>
        <div class="footer-div">
            <h3>Follow us on Social Media</h3>
            <ul class="social-media-links">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul> 
            <p>Copyright &copy;Noosa 2022 </p>
        </div>
    </footer>
</body>