<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Error404 - Noosa</title>
    <link rel="shortcut icon" type="image/png" href="Omar-Engineer-Logo.png">
</head>

<body>
    <h1>Error 404</h1>
    <h2>Page Not Found</h2>
</body>