<html lang="en">
<body>
    <%- include("./partials/nav.ejs") %>

    <Form id="change_password-form">
        <input type="password" autocomplete="off" autocapitalize="off" id="password" placeholder="password">
        <input type="submit" value="Submit">
    </Form>

    <script>
        const form = document.getElementById("change_password-form")

        form.addEventListener("submit", changeUserPassword)

        async function changeUserPassword(event) {
            event.preventDefault() // This will prevent the refresh event
            const password = document.getElementById("password").value

            const result = await fetch("/api/change_password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    token: localStorage.getItem("token")
                },
                body: JSON.stringify ({
                    newPasswod: password,
                })
            }).then((res) => res)
        }
    </script>

    <%- include("./partials/footer.ejs") %>    
</body>
</html>