<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="contact_style.css">
    <title>Contact - Noosa</title>
    <link rel="shortcut icon" type="image/png" href="Omar-Engineer-Logo.png">
</head>

<body>
    <nav>
        <div class="site-title">
            <a href ="/"><h1>Noosa</h1></a>
            <p>A Money Sharing Solution</p>
        </div>
        <ul>
            <li><a href="/">Noosa</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>