<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/contact.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Noosa</title>
</head>
<body>
    <!-- Success email sent -->
    <div class="popup-screen-success" id="popup-screen-success">
        <div class="popup-window">
            <div class="popup-tophalf">
                <div class="checkmark-circle">
                <div class="checkmark-stem"></div>
                </div>
            </div>
            <div class="popup-bottomhalf">
                <div class ="popup-text">
                    <h1>Thank You!</h1>
                    <h2>Email has been Sent</h2>
                    <div class="popup-button">
                        <button type="button" onclick="closePopup()">Continue</button>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
    <!-- fail email sent -->
    <div class="popup-screen-fail" id="popup-screen-fail">
        <div class="popup-window">
            <div class="popup-tophalf">
                <div class="checkmark-circle">
                <div class="checkmark-stem"></div>
                </div>
            </div>
            <div class="popup-bottomhalf-fail">
                <div class ="popup-text">
                    <h1>Thank You!</h1>
                    <h2>Email has been Sent</h2>
                    <div class="popup-button">
                        <button type="button" onclick="closePopup()">Continue</button>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <form id="contact-form" class="contact-form">
            <h1>Contact Us</h1>
            <div>
                <label for="fname"></label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name..">
            </div>
            <div>
                <label for="lname"></label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
            <div>
                <label for="email"></label>
                <input type="text" id="email" name="emailname" placeholder="Your email..">
            </div>
            <div>
                <label for="content"></label>
                <textarea id="content" name="content" placeholder="Write us something.."></textarea>
            </div>
            <button type="submit" id="submit">Submit</button>
        </form>    
    </div>

    <%- include('./partials/footer.ejs') %> 

    <script>
        const form = document.getElementById('contact-form')
        const popup = document.getElementById('submit')
        form.addEventListener('submit', sendemail)
        popup.addEventListener('submit', sendemail)

        
        
        async function sendemail(event) {
            event.preventDefault() // This will prevent the refresh event
            
            const firstName = document.getElementById('fname').value
            const lastName = document.getElementById('lname').value
            const email = document.getElementById('email').value
            const content = document.getElementById('content').value

            
            const result = await fetch('/api/sendemail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify ({
                    firstName,
                    lastName,
                    email,
                    content
                })
            }).then((res) => res)
            return result
            
            const popup = document.getElementById("submit").onclick

            if (result.status === 200) {
                console.log('open')
                popup.classList.add("open-popup")
            }
            else {
                console.log('fail')
                popup.classList.add("open-popup").add("popup-screen-fail")
                
            }
        }

        function closePopup() {
            popup.classList.remove("close-popup")
        }


    </script>
</body>
</html>