<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/contact.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Noosa</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="contact-div">
        <form id="contact-form" class="contact-form">
            <h1>Contact Us</h1>
            <div class="fname">
                <label for="fname"></label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name..">
            </div>
            <div class="lname">
                <label for="lname"></label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
            <div class="email">
                <label for="email"></label>
                <input type="text" id="email" name="emailname" placeholder="Your email..">
            </div>
            <div class="content">
                <label for="content"></label>
                <textarea id="content" name="content" placeholder="Write us something.." style="height:200px"></textarea>
            </div>
            <div class="submit-button">
                <input type="submit" value="Submit">
            </div>
        </form>    
    </div>

    <%- include('./partials/footer.ejs') %> 

    <script>
        const form = document.getElementById('contact-form')
        form.addEventListener('submit', sendemail)

        
        
        async function sendemail(event) {
            event.preventDefault() // This will prevent the refresh event
            
            const firstName = document.getElementById('fname').value
            const lastName = document.getElementById('lname').value
            const email = document.getElementById('email').value
            const content = document.getElementById('content').value

            const result = await fetch('/api/sendemail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify ({
                    firstName,
                    lastName,
                    email,
                    content
                })
            }).then((res) => res)
            if (result.status === 200) {
                // TODO: show a success message here 

            }
            else {
                // TODO: show a failure message here

            }
        }
    </script>
</body>
</html>