<html lang="en">
    <link rel="stylesheet" href="/styles/create_project.css">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>
    <div class="create-project">
        <h1>Project Details</h1>
        <h2>Title*</h2>
        <input type="text" class="input" placeholder="Project's title">
        <h2>Date*</h2>
        <input type="month" class="input">
        <h2>Description*</h2>
        <input type="text" class="input" placeholder="Project's Description">
        <h2>Link</h2>
        <input type="text" class="input" placeholder="link to project"><br><br>
        <input type="file" name="image" id="image"/>
        <button class="submitButton" id="submitButton" onclick="createProject()">Submit</button>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>
<script>
    async function createProject() {
        event.preventDefault()
        var inputFields = document.getElementsByTagName("input")
        var data = new FormData()
        data.append("picture", inputFields[4].files[0])
        data.append("title", inputFields[0].value)
        data.append("date", inputFields[1].value)
        data.append("description", inputFields[2].value)
        data.append("link", inputFields[3].value)

        var result = await fetch("/api/createProject", {
            method: "POST",
            body: data 
        })

        var reqResult = await result
        const message = await result.json()

        // document.getElementById("submitFlag").innerHTML = message["message"]
        if (reqResult.status === 200) {
            console.log("200")
            
        //         // document.getElementById("submitFlag").style.color = "#270"
        //         // document.getElementById("submitFlag").style.backgroundColor = "#DFF2BF"
        } else {
        //         // document.getElementById("submitFlag").style.color = "#D8000C"
        //         // document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
            console.log("400")
        }
    }
        
</script>
</html>