<html lang="en">
    <link rel="stylesheet" href="/styles/create_project.css">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>
    <div class="create-project">
        <h1>New Project Details</h1>
        <p class="submitFlag" id="submitFlag" hidden></p>
        <div class="project-title">
            <h2>Title*</h2>
            <input type="text" class="input" placeholder="Project's title">
        </div>
        <div class="project-date">
            <h2>Date*</h2>
            <input type="month" class="input">
        </div>
        <div class="project-description">
            <h2>Description*</h2>
            <textarea type="text" class="input" id="description" placeholder="Project's Description"></textarea>
        </div>
        <div class="project-link">
            <h2>Link</h2>
            <input type="text" class="input" placeholder="link to project"><br><br>
        </div>
        <div class="project-picture">
            <h2>Image</h2>
            <input type="file" name="image" id="image">
        </div>
        <button class="submitButton" id="submitButton" onclick="createProject()">Submit</button>
    </div>
    <br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>
<script>
    async function createProject() {
        disableSubmitButton()
        event.preventDefault()
        const inputFields = document.getElementsByTagName("input")
        const description = document.getElementsByTagName("textarea")

        var data = new FormData()
        data.append("picture", inputFields[3].files[0])
        data.append("title", inputFields[0].value)
        data.append("date", inputFields[1].value)
        data.append("description", description[0].value)
        data.append("link", inputFields[2].value)

        var result = await fetch("/api/createProject", {
            method: "POST",
            body: data 
        })

        var reqResult = await result
        const message = await result.json()

        document.getElementById("submitFlag").style.display = "block"
        document.getElementById("submitFlag").innerHTML = message["message"]

        if (reqResult.status === 200) {
            document.getElementById("submitFlag").style.color = "#270"
            document.getElementById("submitFlag").style.backgroundColor = "#DFF2BF"
        } else {
            document.getElementById("submitFlag").style.color = "#D8000C"
            document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
        }

        await sleep(2500)
        location.reload(true);
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function disableSubmitButton() {
        document.getElementById("submitButton").style.backgroundColor = "#b1dfb6"
        document.getElementById("submitButton").style.cursor = "default"
    }
        
</script>
</html>