<html lang="en">
<body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= user %></h1>
    <br>
    <button type="submit" id="logout">Logout</button>
    <br><br><br>
    <%- include('./partials/footer.ejs') %>    
</body>

<script>
    const logoutButton = document.getElementById('logout')
    logoutButton.addEventListener('click', logUserOut)
    
    async function logUserOut(event) {
        event.preventDefault()
        var result = fetch('/api/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify ({})
        }).then((res) => res)

        result = await result
        if (result.status === 200) {
            location.reload(true);
        }
        else {}
    }
</script>
</html>