<html lang="en">
    <link rel="stylesheet" href="/styles/project_card.css">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
        <div class="list-of-projects" id="list-of-projects"></div>
        <script>
            window.onload = async function retrieveProjects() {
                const result = await fetch("/api/getProjects", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                const reqResult = await result
                var response = await result.json()
                response = JSON.parse(JSON.stringify(response))
                if (reqResult.status === 200) {
                    for (let i = 0; i < response.length; i++) {
                        const div_tag = document.createElement("div")
                        div_tag.className = "project" + i
                        div_tag.setAttribute("id", "project" + i)
                        const title_tag = document.createElement("h1")
                        const date_tag = document.createElement("h2")
                        const line_tag = document.createElement("hr")
                        const description_tag = document.createElement("p")

                        const image_div_tag = document.createElement("div")
                        const picture_tag = document.createElement("img")
                        picture_tag.src = response[i]['picture']

                        const title_text = document.createTextNode(response[i]['title'])
                        const date_text = document.createTextNode(response[i]['date'])
                        const description_text = document.createTextNode(response[i]['description'])

                        title_tag.appendChild(title_text)
                        date_tag.appendChild(date_text)
                        description_tag.appendChild(description_text)
                        div_tag.appendChild(title_tag);
                        div_tag.appendChild(date_tag);
                        div_tag.appendChild(line_tag);
                        div_tag.appendChild(description_tag);
                        div_tag.appendChild(image_div_tag);

                        image_div_tag.appendChild(picture_tag);

                        const listOfProjectsDiv = document.getElementById("list-of-projects");
                        listOfProjectsDiv.appendChild(div_tag)
                    }
                } else {
                    const error_tag = document.createElement("p")
                    const error_text = document.createTextNode("Error retrieving projects")
                    const listOfProjectsDiv = document.getElementById("list-of-projects");
                    listOfProjectsDiv.appendChild(error_tag);
                }
            }
        </script>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>
</html>