<html lang="en">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>

    <div class="container">
        <h1>Project Details</h1>
        <h2>Title</h2>
        <input type="text" class="input" placeholder="Project's title">
        <h2>Date</h2>
        <input type="month" class="input">
        <h2>Description</h2>
        <input type="text" class="input" placeholder="Project's Description">
        <button class="submitButton" id="submitButton" onclick="submitButtonFunction()">Submit</button>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>

<script>
    async function submitButtonFunction() {
        var inputFields = document.getElementsByTagName("input")
        title = inputFields[0].value;
        date = inputFields[1].value;
        description = inputFields[2].value;

        const result = await fetch("/api/createProject", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify ({
                title,
                date,  
                description
            })
        })
        const reqResult = await result
        const message = await result.json()
        // document.getElementById("submitFlag").innerHTML = message["message"]

        if (reqResult.status === 200) {
            console.log("sheesh")
            // document.getElementById("submitFlag").style.color = "#270"
            // document.getElementById("submitFlag").style.backgroundColor = "#DFF2BF"
        } else {
            // document.getElementById("submitFlag").style.color = "#D8000C"
            // document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
            console.log("hellloooo?")
        }
        // await sleep(2000)
        // location.reload(true);
    }
</script>
</html>