<html lang="en">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
        <h1><%=user.name%></h1>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>
    <div id="img-preview"></div>
    <input type="file" name='image' id='image'/>
    </form>
    <br><br><br><br>
    <%- include("./partials/footer.ejs") %>    
</body>

<script>
    const logoutButton = document.getElementById("logout")
    if(logoutButton != null)
        logoutButton.addEventListener("click", logUserOut)
    
    async function logUserOut(event) {
        event.preventDefault()
        const result = fetch("/api/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify ({})
        }).then((res) => res)

        const reqResult = await result
        if (reqResult.status === 200) {
            location.href = reqResult.url;
        }
        else {}
    }

    const input = document.getElementById("image")
    var data = new FormData()
    input.addEventListener("change", uploadImage)
    
    async function uploadImage(event) {
        data.append('image', input.files[0])
        event.preventDefault()
        const result = fetch("/api/uploadImage", {
            method: "POST",
            headers: {},
            body: data
        }).then((res) => res)

        const reqResult = await result
    //     if (reqResult.status === 200) {
    //         location.href = reqResult.url;
    //     }
    //     else {}
    }
</script>
</html>