<html lang="en">
    <link rel="stylesheet" href="/styles/project_card.css">
    <title>Personal Projects</title>
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
        <div class="list-of-projects" id="list-of-projects"></div>
        <script>
            window.onload = async function retrieveProjects() {
                const result = await fetch("/api/getProjects", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                const reqResult = await result
                let response = await result.json()
                response = JSON.parse(JSON.stringify(response))
                if (reqResult.status === 200) {
                    for (let i = 0; i < response.length; i++) {
                        let link_tag
                        if (response[i]['link'] !== '') {
                            link_tag = document.createElement("a")
                            link_tag.href = response[i]['link']
                            link_tag.target = "_blank" 
                            link_tag.rel = "noopener noreferrer"
                        }
                        
                        const div_tag = document.createElement("div")
                        div_tag.className = "project" + i
                        div_tag.setAttribute("id", "project" + i)
                        
                        const title_tag = document.createElement("h1")
                        const date_tag = document.createElement("h2")
                        const line_tag = document.createElement("hr")
                        const description_tag = document.createElement("p")

                        const image_div_tag = document.createElement("div")
                        const picture_tag = document.createElement("img")
                        picture_tag.src = response[i]['picture']
                        image_div_tag.appendChild(picture_tag);

                        title_tag.appendChild(document.createTextNode(response[i]['title']))
                        date_tag.appendChild(document.createTextNode(response[i]['date']))
                        description_tag.appendChild(document.createTextNode(response[i]['description']))

                        div_tag.appendChild(title_tag);
                        div_tag.appendChild(date_tag);
                        div_tag.appendChild(line_tag);
                        div_tag.appendChild(description_tag);
                        div_tag.appendChild(image_div_tag);

                        if (link_tag === undefined) {
                            document.getElementById("list-of-projects").appendChild(div_tag)
                        } else {
                            link_tag.appendChild(div_tag)
                            document.getElementById("list-of-projects").appendChild(link_tag)
                        }
                    }
                } else {
                    const error_tag = document.createElement("p")
                    const error_text = document.createTextNode("Error retrieving projects")
                    const listOfProjectsDiv = document.getElementById("list-of-projects");
                    listOfProjectsDiv.appendChild(error_tag);
                }
            }
        </script>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>
</html>