<html lang="en">
<link rel="stylesheet" href="/styles/profile.css">
<body>
    <%- include("./partials/user_nav.ejs") %>

    <div class="container">
        <div class="leftbox">
            <nav>
                <a onclick="tabs(0)" class="tab active"><i class="fa fa-user"></i></a>   
                <a onclick="tabs(1)" class="tab"><i class="fa fa-tasks"></i></a>   
                <a onclick="tabs(2)" class="tab"><i class="fa fa-credit-card"></i></a>   
                <a onclick="tabs(3)" class="tab"><i class="fa fa-tv"></i></a>  
                <a onclick="tabs(4)" class="tab"><i class="fa fa-cog"></i></a>    
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile tabShow">
                <h1>Personal Info</h1>
                <button class="editButton" id="editButton" onclick="editButtonFunction()">Edit</button>
                <h2>Full Name</h2>
                <input type="text" class="input" placeholder="<%=user.name%>" readonly>
                <h2>Email</h2>
                <input type="text" class="input" placeholder="<%=user.email%>" readonly>
                <h2>Phone Number</h2>
                <input type="text" class="input" placeholder="1112223333" readonly>
                <h2>Password</h2>
                <input type="text" class="input" placeholder="******" readonly>
                <br><br>
                <div class="flexContainer">
                    <button class="submitButton" id="submitButton" onclick="submitButtonFunction()" hidden>Submit</button>
                    <button class="cancelButton" id="cancelButton" onclick="cancelButtonFunction()" hidden>Cancel</button>
                </div>
            </div> 
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>

<script>
    var inputFields = document.getElementsByTagName("input")
    var submitButton = document.getElementById("submitButton")
    var editButton = document.getElementById("editButton")
    var cancelButton = document.getElementById("cancelButton")

    function editButtonFunction() {
        console.log(inputFields)
        submitButton.style.display = "block"
        cancelButton.style.display = "block"
        editButton.style.display = "none"

        for (let i = 0; i < inputFields.length; i++)
            inputFields[i].readOnly = false    
    }

    function submitButtonFunction() {
        console.log("submit button was clicked")
    }

    function cancelButtonFunction() {
        submitButton.style.display = "none"
        cancelButton.style.display = "none"
        editButton.style.display = "block"

        for (let i = 0; i < inputFields.length; i++)
            inputFields[i].readOnly = true  
    }

</script>