<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/signup_and_login.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container" id="container">

        <div class="form-container sign-up-container">
            <form id="signup-form">
                <h1>Sign up</h1>
                <input type="text" id="name" placeholder="Full Name" />
                <input type="email" id="signup-email" placeholder="Email" />
                <input type="password" id="signup-password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form id="login-form">
                <h1>Sign in</h1>
                <input type="email" id="login-email" placeholder="Email" />
                <input type="password" id="login-password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Hello Friend!</h1>
                    <button class="ghost" id="signin">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <button class="ghost" id="signup">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>   

    <script>
        const signUpButton = document.getElementById('signup');
        const signInButton = document.getElementById('signin');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });


        const signup_form = document.getElementById('signup-form')
        signup_form.addEventListener('submit', signupUser)
        async function signupUser(event) {
            event.preventDefault() // This will prevent the refresh event
            const name = document.getElementById('name').value
            const email = document.getElementById('signup-email').value
            const password = document.getElementById('signup-password').value

            const result = await fetch('/api/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify ({
                    name,
                    email,
                    password
                })
            }).then((res) => res.json())
        }



        const login_form = document.getElementById('login-form')
        login_form.addEventListener('submit', loginUser)
        async function loginUser(event) {
            event.preventDefault() // This will prevent the refresh event
            const email = document.getElementById('login-email').value
            const password = document.getElementById('login-password').value

            const result = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify ({
                    email,
                    password
                })
            }).then((res) => res.json())
            if(result.status === 200) {
                localStorage.setItem('token', result.data)
            }
        }
    </script>
</body>
</html>