<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/signup_and_login.css">
</head>
<body>
    <%- include("./partials/generic_nav.ejs") %>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="signup-form">
                <p class="error_message" id="signup_error_flag"></p>
                <p class="success_message" id="signup_success_flag"></p>
                <h1 class="active_title">Sign Up</h1>
                <input type="text" id="name" placeholder="Full Name" />
                <input type="email" id="signup-email" placeholder="Email" />
                <input type="password" id="signup-password" placeholder="Password" />
                <button class ="active_signup">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form id="login-form">
                <p class="error_message" id="login_error_flag"></p>
                <p class="success_message" id="login_success_flag"></p>
                <h1 class="active_title">Sign In</h1>
                <input type="email" id="login-email" placeholder="Email" />
                <input type="password" id="login-password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <h2>To access your account please log in with your personal info!</h2>
                    <button class="ghost" id="signin">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend!</h1>
                    <h2>Enter your personal details and start your journey with us!</h2>
                    <button class="ghost" id="signup">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>   

    <script>
        // Sign up javascript
        const signUpButton = document.getElementById("signup");
        const signInButton = document.getElementById("signin");
        const container = document.getElementById("container");

        signUpButton.addEventListener("click", () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener("click", () => {
            container.classList.remove("right-panel-active");
        });

        const signup_form = document.getElementById("signup-form")
        signup_form.addEventListener("submit", signupUser)

        async function signupUser(event) {
            event.preventDefault() // This will prevent the refresh event
            var name = document.getElementById("name").value
            var email = document.getElementById("signup-email").value
            var password = document.getElementById("signup-password").value
            
            // Sign up api call
            const result = await fetch("/api/signup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify ({
                    name,
                    email,
                    password
                })
            })
            const reqResult = await result
            const message = await result.json()
            if (reqResult.status === 200) {
                document.getElementById("signup_error_flag").classList.remove("custom_error_success_message")
                document.getElementById("signup_error_flag").innerHTML = ""
                document.getElementById("signup_success_flag").classList.add("custom_error_success_message")
                document.getElementById("signup_success_flag").innerHTML = message["message"]
                await sleep(3000)
                location.reload(true);
            }
            else {
                document.getElementById("signup_error_flag").classList.add("custom_error_success_message")
                document.getElementById("signup-password").value = ""
                document.getElementById("signup_error_flag").innerHTML = message["message"]
            }
        }

        // Log in javascript
        const login_form = document.getElementById("login-form")
        login_form.addEventListener("submit", loginUser)

        async function loginUser(event) {
            event.preventDefault() // This will prevent the refresh event
            const email = document.getElementById("login-email").value
            const password = document.getElementById("login-password").value

            // Log in api call
            const result = await fetch("/api/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify ({
                    email,
                    password
                })
            })  
            const reqResult = await result
            const message = await result.json()

            // If login was successful, reload so that user is taken to home page
            if (reqResult.status === 200) {
                document.getElementById("login_error_flag").classList.remove("custom_error_success_message")
                document.getElementById("login_error_flag").innerHTML = ""
                document.getElementById("login_success_flag").classList.add("custom_error_success_message")
                document.getElementById("login_success_flag").innerHTML = message["message"]
                await sleep(1000)
                location.reload(true);
            }
            else {
                document.getElementById("login_error_flag").classList.add("custom_error_success_message")
                document.getElementById("login_error_flag").innerHTML = message["message"]
            }
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
</body>
</html>