<html lang="en">
<body>
    <% if (typeof(user) != "undefined") { %>
        <%- include("./partials/user_nav.ejs") %>
    <% } else { %>
        <%- include("./partials/generic_nav.ejs") %>
    <% } %>

    <input type="file" name='image' id='image'/>
    <input type="submit" id="submit-picture">submit</input>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("./partials/footer.ejs") %>
</body>

<script>
    const input = document.getElementById("image")
    const submit = document.getElementById("submit-picture")
    let data = new FormData()
    submit.addEventListener("click", uploadImage)
    
    async function uploadImage(event) {
        data.append('image', input.files[0])
        event.preventDefault()
        const result = fetch("/api/profilePicture/upload", {
            method: "POST",
            headers: {},
            body: data
        }).then((res) => res)

        const reqResult = await result
        if (reqResult.status === 200) {
            location.reload(true)
        }
        else {}
    }
</script>
</html>