* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
	/* border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22); */
    
    /* To center the form in the middle fo the screen */
	position: relative;
    left: 50%;
    transform: translate(-50%);

	overflow: hidden;
	width: 1100px;
	max-width: 100%;
	min-height: 620px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

/* Contact Form style */
input,
textarea {
    width: 30%;
    margin-top: 3rem;
    border: none;
    border-bottom: 1.5px solid;
    margin-left: 1rem;
} 

*:focus {
    outline: none;
}

textarea {
    width: 50%;
    height: 20vh;
}

button[type="submit"] {
    margin-top: 2rem;
    margin-left: 1rem;
	border-radius: 20px;
	border: 1px solid #14a82f;
	background-color: #14a82f;
	color: white;
    cursor: pointer;
    padding: 1rem;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button[type="submit"]:hover {
    opacity: 0.9;
}