* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 50vh; */

}
/* Contact Form positioning */
.contact-form{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 100%;
}

/* Contact Form style */
input,
textarea {
    width: 20%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1.5px solid
} 

textarea[id="subject"] {
    width: 80%;
    padding: 12px;
}

button[type="submit"] {
    color: white;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 50px;
    background-color: rgba(11, 149, 11, 1);

}
button[type="submit"]:hover {
    opacity: 0.75;
}

/* Pop up window */
.popup-screen-success {
    position: fixed;
    z-index: 999990;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    visibility: hidden;

}
.open-popup {
    visibility: visible;
}

.close-popup{
    visibility: hidden;
}

.popup-window {
    /* display: -ms-grid;
    display: grid; */
    /* grid: 25vh; */
    height: 50vh;
    /* grid-template-columns: auto; */
    /* position: relative; */
    background-color: green;
    border-radius: 25px;
    box-shadow: 0 0 20px;
    max-width: 500px; 
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* padding: 10px; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}

.popup-tophalf {
    display:flex;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.checkmark-circle {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #78b13f;
}
.checkmark-stem {

    position: absolute;
    left: 35%;
    top: 20%;
    transform: rotate(45deg);
    height: 35px;
    width: 18px;
    border-bottom: 5px solid #78b13f;
    border-right: 5px solid #78b13f;   
}

.popup-bottomhalf {
    display:flex;
    height: 100%;
    width: 100%;
    background-color: #78b13f;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}



.popup-text {
    padding: 12px;
    letter-spacing: 1px;

}

.popup-text h1 {
    font: bold 2em arial, helvetica;

}

button[type="button"] {
    color: blue;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 70px;
    width: 40%;
    background-color: rgba(11, 149, 11, 1);
}

button[type="button"]:hover {
    opacity: 0.75;
}


/* popup fail email */
.popup-screen-fail {
    position: fixed;
    z-index: 999990;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    visibility: hidden;

}

.popup-bottomhalf-fail {
    display:flex;
    height: 100%;
    width: 100%;
    background-color: red;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

