.create-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: 20px 30% 50px 30%;
    padding: 50px;
    background: #fff;
    box-shadow: 2px 5px 20px rgba(119,119,119,0.5);
}

.create-project h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 30px;
    margin-bottom: 2%;
}

.create-project h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.create-project input, textarea {
    width: 80%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #070707;
}

.project-title input, .project-date input, .project-description input, .project-link input, .project-picture input, textarea {
    margin-top: 2%;
}

#description {
    padding-bottom: 50px;
}

#image {
    padding-bottom: 10px;
}

#submitButton {
    width: 50%;
    margin: -15px 0 10px 24%;
    font-size: 17px;
}

.submitFlag {
    margin-bottom: -48px;
    margin-top: -55px;
    width: 80%;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.disable-submit-flag {
    border: 1px solid #999999;
    background-color: #b1dfb6;
}