.main-div li, .main-div a, .main-div button {
    text-decoration: none;
}

.main-div nav {
    height: 100px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.main-div img {
    width: 100px;
}

.main-div .main-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div li {
    list-style: none;
    display: inline-block;
    padding: 0px 50px;
}

.main-list a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    white-space: nowrap;
}

.main-div li a:hover {
    color: darkgreen
}

.profile_image {
    border-radius: 50%;
    text-align: center;
    line-height: 1.6;
    padding: 5px;
  }