.main-content button {
    margin-left: 400px;
    font-size: 20px;
}

.main-content a {
    color: white
}

.list-of-projects {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: auto;
}

.list-of-projects a {
    transition: all 0.5s ease 0s;
    text-decoration: none;
    color: black;
}

.list-of-projects a:hover {
    color: rgb(19, 63, 151);
}

div[class^='project'] {
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 50rem;
    height: 26rem;
    box-shadow: -1px 1px 10px #000;
}

.image-div {
    position: relative;
    width: 25rem;
    height: 26rem;
    border-radius: 10px;
}

.image-div img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
}

.right-div {
    width: 25rem;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.icons-div {
    min-height: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    cursor: default;
}

.icons-div i {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.icons-div i:hover {    
    font-size: 2rem;
    transition: 0.25s ease-out;
}

.text-div {
    max-height: 22rem;
}

#edit-icon {    
    color: rgb(92, 92, 92);
}


#delete-icon {
    color: rgb(222, 2, 2);
}

div[class^='project'] h1 {
    margin-bottom: 10px;
    max-height: 3rem;
    overflow-y: auto; 
}

div[class^='project'] hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid black;
}

div[class^='project'] p {
    min-height: 16rem;
    max-height: 16rem; 
    overflow-y: auto; 
}
